@model SimpleBlogMVC.Models.Entities.Post;

@{
    ViewData["Title"] = "Post Details";
    var postDetails = ViewBag.PostDetails;
}

<h2> Product Details </h2>

<hr/>

<p><strong>Id:</strong>@postDetails.Id</p>
<p>
    <strong>
        Title:
    </strong>
    @postDetails.Title
</p>
<p>
    <strong>
        Content:
    </strong>
    @postDetails.Content
</p>
<p>
    <strong>
        Content:
    </strong>
    @postDetails.PublicationDate
</p>

<a asp-action="Index" class="btn btn-secondary"> Back </a>