@model SimpleBlogMVC.DTOs.LoginDTO

<!-- Login Section -->


<div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32">
    <p class="text-center text-3xl">Welcome.</p>
    <form class="flex flex-col pt-3 md:pt-8" method="post" action="login">
        <input type="hidden" asp-for="ReturnUrl"/>
        <div class="flex flex-col pt-4">
            <label for="email" class="text-lg">Email</label>
            <input asp-for="Username" id="email" placeholder="john" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline">
            <span class="text-red-500" asp-validation-for="Username"></span>
        </div>

        <div class="flex flex-col pt-4">
            <label for="password" class="text-lg">Password</label>
            <input asp-for="Password" type="password" id="password" placeholder="Password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline">
            <span class="text-red-500" asp-validation-for="Password"></span>
        </div>

        <input type="submit" value="Log In" class="bg-black text-white font-bold text-lg hover:bg-gray-700 p-2 mt-8">
    </form>
    <div asp-validation-summary="All"></div>
    <div class="text-center pt-12 pb-12">
        <p>Don't have an account? <a href="/account/register" class="underline font-semibold">Register.cshtml here.</a></p>
    </div>
</div>