@model SimpleBlogMVC.DTOs.RegisterDTO

<div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32">
    <p class="text-center text-3xl">Регистрация</p>
    <form method="post" action="register" class="flex flex-col pt-3 md:pt-8">

        <div class="flex flex-col pt-4">
            <label for="name" class="text-lg">FirstName</label>
            <input type="text" asp-for="FirstName" id="FirstName" placeholder="John" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" />
            <span class="text-red-500" asp-validation-for="FirstName"></span>
        </div>
        <div class="flex flex-col pt-4">
            <label for="name" class="text-lg">LastName</label>
            <input type="text" asp-for="LastName" id="LastName" placeholder="Smith" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" />
            <span class="text-red-500" asp-validation-for="LastName"></span>
        </div>

        <div class="flex flex-col pt-4">
            <label for="name" class="text-lg">Username</label>
            <input type="text" asp-for="Username" id="name" placeholder="John" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" />
            <span class="text-red-500" asp-validation-for="Username"></span>
        </div>
        <div class="flex flex-col pt-4">
            <label for="email" class="text-lg">Email</label>
            <input type="email" asp-for="Email" id="email" placeholder="your@email.com" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" />
            <span class="text-red-500" asp-validation-for="Email"></span>
        </div>

        <div class="flex flex-col pt-4">
            <label for="phone" class="text-lg">Phone</label>
            <input type="text" asp-for="PhoneNumber" id="phone" placeholder="992900443322" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" />
            <span class="text-red-500" asp-validation-for="PhoneNumber"></span>
        </div>
        <div class="flex flex-col pt-4">
            <label for="password" class="text-lg">Password</label>
            <input  type="password" asp-for="Password" id="password" placeholder="Password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" />
            <span class="text-red-500" asp-validation-for="Password"></span>

        </div>

        <div class="flex flex-col pt-4">
            <label for="confirm-password" class="text-lg">Confirm Password</label>
            <input type="password" asp-for="ConfirmPassword" id="confirm-password" placeholder="Password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" />
            <span class="text-red-500" asp-validation-for="ConfirmPassword"></span>

        </div>

        <div asp-validation-summary="All" class="validation validation-summary-valid" data-valmsg-summary="true">
            <ul>
                <li style="display:none"></li>
            </ul>
        </div>
        <input type="submit" value="Register" class="bg-black text-white font-bold text-lg hover:bg-gray-700 p-2 mt-8" />
    </form>
    <div class="text-center pt-12 pb-12">
        <p>Already have an account? <a href="/account/login" class="underline font-semibold">Log in here.</a></p>
    </div>
</div>