<div class="row">
    @foreach (var tag in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card h-100">

                <div class="card-body">
                    <h6 class="card-title">ID: <em> @tag.Id </em> </h6>
                    <h5 class="card-title">
                        <strong> Name: <em style="color: rgba(18,22,18,0.65)"> @tag.Name </em> </strong>
                    </h5>
                </div>
                
            </div>
        </div>
    }
</div>