@model SimpleBlogMVC.Models.Entities.Tag

@{
    ViewData["Title"] = "New Tag";
}

<h2 class="mb-4"> Add New Tag </h2>

<form asp-controller="Tag" asp-action="Create" method="post">
    
    <div class="mb-3">
        <label asp-for="Name" class="form-label"> Tag Name </label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    
    <button type="submit" class="btn btn-primary"> Add </button>
    <a asp-action="Index" class="btn btn-secondary ms-2"> Cancel </a>
</form>